html, body
{
    height: 100%;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}
h4 {
    text-align: center;
}

hr {
  width:98%
}


.marquee {
  background-color: lighten(#0074d9, 20);
  opacity: .85;
  padding: 20px;
  color: rgba(255,255,255,.9);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.resp {
  width: 100%;
  height: 100%;
  position: relative;  
}

.height90 {
  width: 100%;
  height: 95%;
  position: relative;  
}

.height100 {
  width: 100%;
  height: 100%;
  position: relative;  
}

.left50 {
  width: 50%;
  height: 100%;
  position: relative; 
  float: left;  
}
.left51 {
  width: 50%;
  height: 50%;
  position: relative; 
  float: left;  
}

.left75 {
  width: 70%;
  height: 100%;
  position: relative; 
  float: left;  
}

.left25 {
  width: 30%;
  height: 100%;
  position: relative; 
  float: left;  
}

.leftup {
  width: 100%;
  height: 50%;
  position: relative; 
  float: left;  
  
}

.row {
  text-align: center;
  font-size: 20px;
}

.DashCharts {
  width: 100%;
  height: 100%;
  display: -webkit-box;
}

.recharts-responsive-container {
  -webkit-box-flex: 1;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

#center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.recharts-legend-item-text {
    font-size: 125%;
}
.recharts-text{
    font-size: 125%;
}

.logo {
    width: 10%;
    height: 5%;
    position: absolute;
    left: 1%;    
    float: left;
    clear: left;
   
}
.plane {
    width: 20%;
    height: 20%;

    left: 1%;    


}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.0;
  color: inherit;
}
.gau {
   clear: both;
  top: 10%;
  right:5%;
  margin: auto;
  width: 100%;
  height: 50%;
  position: relative; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.semi-circle{
  font-size: 100%;
  position: 'relative';
  margin:0%;
  width: 100%;
  height: 100%;
}

display: table-row;
.fly-header{position: relative;  display: block;  }
.fly-line{position: relative; width: 7%; float: left; text-align:center;  }
.fly-incoming{position: relative;width: 31%; float: left;   margin-bottom: 0.1%;}
.fly-run{position: relative;width: 31%; float: left;   }
.fly-past{ width: 31%; float: left;    }
.fly-row{ height: 16%;   clear: both; margin-bottom: 1%; margin-top: 1%; }
.gauge {position: relative; width: 100%; float: left;  margin-bottom: 2%; }

/*svg:first-child > g > text[text-anchor~=middle]{
    font-size:9px;
}
*/
